form{
	padding-left: 150px;
	padding-top: 100px;
	padding-right: 200px;
	background-color:#f8f8ff;

}
.loginForm{
	padding-left: 320px;
	padding-top: 100px;
	padding-right: 320px;
		
}
.loginSignup{
	padding-top: 100px;
}
h6.opinion{
		text-align: left;
		color: red;
		font-size: 23px;
		padding-left: -5px;
}



.container{
	height: 5500px;
}

	/**********************************************/

/**************************** Steaky header************************/

