
.col-sm-6 a{
	display: block;
}
.Container-fluid{
	background-color: #edf5f5;
	border-top: 1px solid grey;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	width: 100%;
	bottom: 42px;
	height: 280px;
}
.copyright{
	text-align: center;
	font-size: 20px;

}
.copy{
	padding-bottom: 0px;
	padding-top:5px;
	background-color: #6aabc5;
	position: fixed;
	width: 100%;
	bottom: 0;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	color: black;
	text-shadow: 1px 1px 1px #000;

}
.left{
	
	padding-left: 25px;
	padding-bottom: 20px;

}
.right{
	padding-bottom: 20px;

}
.col-sm-4.left.up{
	border-right: 0px solid grey;
}
a{
	color: #0b4d88;
	font-size: 16px;
}
a:hover{
	color: black;
}

p{
	font-size: 18px;
	color: #064965;
	text-shadow: 1px 1px 1px #70bede;
}

.down{
	padding-top: 20px;
	border-top: 1px solid grey;

}
.col-xs-4.col-sm-2.icon{
	padding-bottom: 5px;
	padding-top: 5px;
	


}