body{
	background-color: ghostwhite;
}
.navbar-inverse .navbar-nav > li > a {
    color: azure;
	font-size: 17px;
	text-shadow: 0px 0px 1px #000;

}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #6aabc5;
	
}
.form-control{
	border-top-right-radius: 13px;
	border-bottom-left-radius: 13px;
 
}
.form-control {
    display: inline;
    width: 70%;
}

.navbar-inverse {
    background-color: #6aabc5;
    border-color: #70BEDE;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
	font-family: Brush Script MT;
	font-size: 35px;
	text-shadow: 1px 1px 2px #000;
	margin-left: 4px;
}
.X{
	color: #af1d3e;
	font-family: Edwardian Script ITC;
	font-size: 35px;
}
.navbar-inverse .navbar-toggle {
    border-color: white;
	margin-right: 15px;
}
@media (min-width: 768px)
.navbar-form .form-control {
    display: inline-block;
    vertical-align: middle;
	width:100px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #31708f;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #31708f;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #31708f;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #31708f;
}
.navbar-brand{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 1px;
}

.navbar{
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	

}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 30px;
    margin-left: 30px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
 	color: azure;
    background-color: #31708f;
}

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: azure;
    background-color: #31708f;
	}
}
@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: black;
		font-size: 17px;
	}
	
}
@media (min-width: 768px){
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 5px;
}
}

/**************************** Steaky header************************/
#steaky {
  overflow: hidden;
  background-color: white;
	z-index: 2;
}

#steaky a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 4px;
  text-decoration: none;
  font-size: 17px;
}

#steaky a:hover {
  background-color: #70bede;
  color: white;
}




.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/* Page content */


.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.container .jumbotron, .container-fluid .jumbotron{
		border-radius: 0px;

}
.jumbotron{
	background-color: ghostwhite;
}


.btn-group > .btn + .dropdown-toggle{
	height: 34px;
}

@media (max-width: 803px){
	#steaky a{
		font-size: 13px;
	}
	
}
/*------------------------------- header ------------------------------*/

.text-content{
	width: 100%;
}
.content {
  padding: 16px;
}
.col-xs-4.content {
  padding: 16px;
	font-size: 1px;
}
.row.showlinks{
	
	height: 100%;
	background-color: #edf5f5;
	overflow: scroll;
	margin-right: 15px;
	text-shadow: 1px 1px 1px black;
	font-size: 25px;
}

.col-xs-12.links{
    width: 100%;
	padding-top: 20px;
	padding-left: 20px;
}
.row.bla{
	font-size: 20px;
	padding-top: 30px;
	padding-bottom:10px;
	padding-left: 13px;
	
}






.col-xs-12.contentofmsg {
	margin-top: 0px;
    height: 100%;
	background-color: #b5d1f3;
	overflow: scroll;

}
.col-xs-12.contentofmsg p{
	margin: 20px 20px 20px 20px;
	font-size: 17;

}
.col-xs-12.table1 {
	padding-left:0px;

}

td, th {
    font-size: 20px;
}
.row.cont2{
	width: 99.5%;
	margin: 3px;
	height: 100%;

}
.row.recievedMail{
	height: 30%;
}




/*----------------------------------- footer --------------------------->*/
.col-sm-6 a{
	display: block;
}
.Container-fluid.footer{
	background-color: #edf5f5;
	border-top: 1px solid grey;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}
.copyright{
	text-align: center;
	font-size: 20px;

}
.copy{
	padding-bottom: 0px;
	padding-top:5px;
	background-color: #6aabc5;
	width: 100%;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	color: black;
	text-shadow: 1px 1px 1px #000;

}
.left{
	
	padding-left: 25px;
	padding-bottom: 20px;

}
.right{
	padding-bottom: 20px;

}
.col-sm-4.left.up{
	border-right: 0px solid grey;
}
a{
	color: #0b4d88;
	font-size: 15px;
}
a:hover{
	color: black;
}

.text{
	font-size: 18px;
	color: #064965;
	text-shadow: 1px 1px 1px #70bede;
}

.down{
	padding-top: 20px;
	border-top: 1px solid grey;

}
.col-xs-4.col-sm-2.icon{
	padding-bottom: 5px;
	padding-top: 5px;
}
.col-xs-12.copy2{
	background-color: #6aabc5;
}